<div class="message warning"><p>The file server will be offline this Thursday from 7:00 AM to 9:00 AM for upgrades.</p></div>

<div class="block withsidebar small left">

<div class="block_head">
	<div class="bheadl"></div>
	<div class="bheadr"></div>
	
	<h2>Applications</h2>
</div>		<!-- .block_head ends -->



<div class="block_content">
	
	<div class="sidebar">
		<ul class="sidemenu">
			<li><a href="#sb1">Favorites</a></li>
			<li><a href="#sb2">Department</a></li>
			<li><a href="#sb3">University</a></li>
		</ul>
		
		<p><strong>Some notification text.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
	</div>		<!-- .sidebar ends -->
	
	<div class="sidebar_content" id="sb1">
		<h3>General</h3>
		<ul>
			<li><a href="#">Personnel Management</a></li>
			<li><a href="#">Permissions Management</a></li>
			<li><a href="#">Update Directory Listing</a></li>
			<li><a href="#">Go to E-Mail &amp; Calendars</a></li>
		</ul>

		<h3>Faculty</h3>
		<ul>
			<li><a href="#">Book Ordering</a></li>
			<li><a href="#">Merit Promotions</a></li>
		</ul>

		<h3>Staff</h3>
		<ul>
			<li><a href="#">Check Out Equipment</a></li>
			<li>Praesent justo risus, suscipit eget</li>
			<li>Morbi facilisis felis ac sapien</li>
		</ul>

	</div>		<!-- .sidebar_content ends -->
	
	
	<div class="sidebar_content" id="sb2">
		<h3>Sidebar content 2</h3>
	
		<p>Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.</p>
	
		<p>Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.</p>
	</div>		<!-- .sidebar_content ends -->
	
	
	<div class="sidebar_content" id="sb3">
		<h3>Sidebar content 3</h3>
	
		<p>Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.</p>

		<p>Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.</p>
	</div>		<!-- .sidebar_content ends -->
						
</div>		<!-- .block_content ends -->


<div class="bendl"></div>
<div class="bendr"></div>

</div>		<!-- .block ends -->







<div class="block small right">

<div class="block_head">
	<div class="bheadl"></div>
	<div class="bheadr"></div>
	
	<h2>Help Documentation</h2>
</div>		<!-- .block_head ends -->



<div class="block_content">

	<p>
	<center><b><a href="#">Request Support / Talk to Support Personnel</a></b></center>
	</p>

	<h2>Frequently Asked Questions</h2>
	
	<ul>
		<li><a href="#">How can I order a new computer?</a></li>
		<li><a href="#">How long do I have to wait for support?</a></li>
		<li>Morbi facilisis felis ac sapien</li>
	</ul>
	
</div>		<!-- .block_content ends -->

<div class="bendl"></div>
<div class="bendr"></div>

</div>		<!-- .block.small.right ends -->