<% if false %>
<div class="message warning"><p>The file server will be offline this Thursday from 7:00 AM to 9:00 AM for upgrades.</p></div>
<% end %>

<div class="block small left">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
	
		<h2>Applications</h2>
	</div>		<!-- .block_head ends -->

	<div class="block_content">
		<h2>Available</h2>
		<ul>
			<li><a href="#">Manage Profile</a></li>
		</ul>

		<h2>Unavailable</h2>
		<ul>
			<li><a href="#">eVote</a> <small><a href="#">[Request]</a></small></li>
			<li><a href="#">Roles Management</a> <small><a href="#">[Request]</a></small></li>
		</ul>

	</div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block ends -->



<!--<div class="block small right">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
	
		<h2>Help Documentation</h2>
	</div>



	<div class="block_content">
		<p>
		<center><b><a href="https://sysaid.dss.ucdavis.edu/index.html">Request Support / Talk to Support Personnel</a></b></center>
		</p>

		<h2>Frequently Asked Questions</h2>
	
		<ul>
			<li><a href="#">How can I order a new computer?</a></li>
			<li><a href="#">How long do I have to wait for support?</a></li>
			<li>Morbi facilisis felis ac sapien</li>
		</ul>
	</div>

	<div class="bendl"></div>
	<div class="bendr"></div>
</div> -->


<div class="block small right">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
	
		<h2>Inbox</h2>
	</div>		<!-- .block_head ends -->



	<div class="block_content">

		<p>
		<center><i>You have no messages.</i><br /><br /><small>Messages (not e-mail) may appear here in the future if your attention is required.</small></center>
		</p>

	</div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>
</div>		<!-- .block.small.right ends -->
